################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/TimusOnlineJugle/bin/Debug/netcoreapp2.0
/TimusOnlineJugle/obj
/.vs/TimusOnlineJugle
